<section class="rechange logg">
    <h1>NẠP TIỀN</h1>
    <div class="row no-gutters">
        <div class="col-md-12 col-3 no-gutters momo">
            <img src="assets/images/momo.png">
        </div>
        <div class="col-md-12 col-9 no-gutters information">
            <p>Sđt nhận: 0903206359</p>
            <p>Nội dung: <span style="font-weight: bold;">your username</span></p>
            <p><i style="font-weight: normal; font-size: 15px;line-height: 1;">Nạp tiền qua MOMO, nhập chính xác nội dung là tên tài khoản của bạn,hệ thống sẽ tự động cộng tiền sau 30s-1p (Nếu quá 5 phút tiền chưa vào tài khoản, vui lòng inbox <a href="https://www.facebook.com/Max-Clone-Vn-100658945273136" target="_blank">fanpage</a>)</i></p>
        </div>
    </div>
</section>