<div class="stock stock-1">
    <h2>NGAY BÂY GIỜ</h2>
    <table [class.special]="!isShow">
        <thead>
            <tr>
                <th>TÀI KHOẢN</th>
                <th>MÔ TẢ</th>
                <th>GIÁ</th>
                <th>TỒN</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>{{ item.Name }}</td>
                <td><span tooltip="{{ item.Description }}" placement="bottom" show-delay="100" hide-delay="100">{{ item.Description }}</span></td>
                <td>{{ item.Price }}</td>
                <td>{{ item.Instock }}</td>
                <td>
                    <button class="basic-color" (click)="openModalStock('buy-stock', item.Code)">Mua</button>
                    <jw-modal noCheck id="buy-stock">
                        <h1>Enter the quantity Stock</h1>
                        <form #buyStockCop="ngForm" (ngSubmit)="buyStock(quantityStock.value)">
                            <input type="number"  #quantityStock ngModel name="quantityStock" placeholder="Quantity" required><br>
                            <button class="basic-color" type="submit">MUA</button>
                            <button class="basic-color" type="button" (click)="closeModalStock('buy-stock')">HỦY</button>
                        </form>
                    </jw-modal>
                </td>
            </tr>
        </tbody>
    </table>
    <jw-modal noCheck id="success-buy-stock">
        <h1>{{ notification }}</h1>
        <h2>Danh sách dữ liệu:</h2>
        <textarea>{{ dataPurchased }}</textarea>
        <button class="basic-color" (click)="dynamicDownloadTxt()">Tải .txt File</button>
        <button class="basic-color" (click)="dynamicDownloadJson()">Tải .json File</button>
        <button class="basic-color" (click)="closeModalSuccess('success-buy-stock')">Đóng Popup</button>
    </jw-modal>
    <jw-modal noCheck id="fail-buy-stock">
        <h1>{{ notification }}</h1>
        <button class="basic-color" (click)="closeModal('fail-buy-stock')">Đóng Popup</button>
    </jw-modal>
    <jw-modal noCheck id="set-loading">
        <img src="assets/images/loading.gif" alt="">
    </jw-modal>
</div>